* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.search-bar-container {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
label {
  font-size: 1.2em;
}
#search-text-box {
  min-width: 15em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border-radius: 1em;
  border: 2px solid hsl(0, 0%, 50%, 0.8);
}
.display-area {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;
  align-items: flex-start;
}
.loading-animation-placeholder {
  width: 250px;
  height: 300px;
  margin: 0 auto;
  background: #f6f7f9;
  /* Animation */
  animation: timeline;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px auto;
}
@keyframes timeline {
  0% {
    background-position: -350px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
.image-area{
  width: 250px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px 1px black;
}